<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584493973518-ggrk0troed3q7hp069muht3sehvv2fqf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584493973518-ggrk0troed3q7hp069muht3sehvv2fqf</string>
	<key>API_KEY</key>
	<string>AIzaSyDzRa4-IqrCBVUlQ43phsDMkS5URqxCcts</string>
	<key>GCM_SENDER_ID</key>
	<string>584493973518</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>md.entrytest.RickAndMorty</string>
	<key>PROJECT_ID</key>
	<string>rickandmorty-c1a60</string>
	<key>STORAGE_BUCKET</key>
	<string>rickandmorty-c1a60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584493973518:ios:6162363ffb50da2ef53c5f</string>
</dict>
</plist>